.wrapper{
    padding: 30px 20px;
}

.container{

display: flex;
flex-direction: column;

    input{
        height: 40px;
        border-radius: 0.3rem;
        border: none;
        margin-block: 10px;
    }
   

}