
.main{
  height: 100%;
  overflow: hidden;
  padding-top: 6rem;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}
.section_container {
    display: grid;
    grid-template-rows: 0.75fr 0.25fr;
    
    height: 70vh;
    
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}



     
    p {
        color: aliceblue;
        font-size: 1.5rem;
    }

    .ticket_button {
        text-decoration: none;
        background-color: aliceblue;
        border: none;
        border-radius: 0.7rem;
        font-size: 1.5rem;
        padding: 0.6rem 1.5rem;
        margin-right: 0.5rem;
        transition: 0.1s ease-in-out;
        color: #711C91;
        cursor: pointer;
    }

    .ticket_button:hover {
        box-shadow:
        0 0 2px aliceblue,
        0 0 5px aliceblue,
        0 0 13px aliceblue,
        0 0 17px aliceblue;

    }

    .artists_button {
        text-decoration: none;
        background-color: transparent;
        backdrop-filter: blur(2px);
        border: 2px solid white;
        border-radius: 0.7rem;
        font-size: 1.5rem;
        padding: 0.6rem 1.5rem;
        margin-left: 0.5rem ;
        color: white;
        transition: 0.1s ease-in-out;
        cursor: pointer;
    }

    .artists_button:hover {
        text-shadow: 0 0 2px aliceblue, 0 0 4px aliceblue, 0 0 10px aliceblue;

        box-shadow:
        0 0 2px aliceblue,
        0 0 5px aliceblue,
        0 0 9px aliceblue,
        0 0 13px aliceblue,
        0 0 17px aliceblue;

    }

    .Marquee {
        background-color: rgba($color: #711C91, $alpha: 0.4);
        color: aliceblue;
        font-size: 2rem;
    }

}

@media only screen and (max-width: 680px){
  .section_container {
    

    p {
      font-size: 1rem;
    }

    .artists_button {
      font-size: 1rem;
    }
    .ticket_button {
      font-size: 1rem;
    }

    .Marquee {
      font-size: 1.5rem;
    }
    
  }
}

