

.container{
   color:white;
   background-color: rgba($color: #0ABDC6, $alpha: 0.5);
   width: 100%;
   margin-inline: auto;
   padding: 50px;
   margin: 3rem 10rem;
   backdrop-filter: blur(7px);
   border-radius: 1rem;

.form {
   display: flex;
   flex-direction: column;
   gap: 1rem;

}
   .headline{
      text-align: center;
      font-weight: 900;
      margin: 1rem;
   }
   &>div{
      margin-bottom: 60px;
   }

   button{
      display: block;
      margin-inline: auto;
   }
   
}

.tent_container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.campContainer{
   gap: 1rem;
   &>div{ 
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid white;
      padding-bottom: 5px;
      margin-bottom: 20px;
      gap: 1rem;
      
   }
   .radioButton {
      appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid aliceblue;
      border-radius: 50%;
      cursor: pointer;
      align-self: end;
  
      &:hover,
      &:active {
          
          border: 4px solid aliceblue;
          text-shadow: 0 0 2px aliceblue, 0 0 4px aliceblue, 0 0 10px aliceblue;
          box-shadow: 0 0 2px aliceblue, 0 0 4px aliceblue, 0 0 10px aliceblue; ;
          outline-offset: -1px;
      }
  
      &:checked {
          background-color: aliceblue;
          border: 4px solid aliceblue;
          box-shadow: 0 0 2px aliceblue, 0 0 4px aliceblue, 0 0 10px aliceblue;
      }
      }
      
  }

  .valg {
      
   text-decoration: none;
   background-color: aliceblue;
   border: none;
   border-radius: 0.7rem;
   font-size: 1rem;
   padding: 0.6rem 1.5rem;
   margin-right: 0.5rem;
   transition: 0.1s ease-in-out;
   color: #711C91;
   cursor: pointer;
}

.valg:hover {
   box-shadow:
   0 0 2px aliceblue,
   0 0 5px aliceblue,
   0 0 13px aliceblue,
   0 0 17px aliceblue;

}


.error{
   color: aliceblue;
   background-color: #711C91;
   font-weight: 900;

   

}

@media only screen and (max-width: 1100px){
   .container{
      margin: 3rem 5rem;

   }
}

@media only screen and (max-width: 680px) {
   .campContainer{
      label {
         font-size: 0.8rem;
      }
   }
   
   .container{
      margin: 3rem 0.5rem;
      padding: 2rem 1.5rem;

   }
}