.main {
    .image {
        z-index: -10;
        position: fixed;
        height: 100%;
        width: 100%;
        overflow-x: hidden; 
        
    }
    .section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .optiontoticket {
        
        display: flex;
        padding-top: 8rem;
        margin: 0 2rem ;
    }
    .paymentoption {
        display: flex;
        padding-top: 8rem;
    }
    .orderconfirmation {
        padding-top: 8rem;
        height: 60vh;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


$color-primary: #e21cc4;	

.container{
    p{
        color: $color-primary;
    }
    .gg{
        color: red;
    }
    
}

@media only screen and (max-width: 680px) {
    
    .main{

        p {
            font-size: 0.8rem;
        }
        .orderconfirmation {
            margin: 0 1.5rem;
        }
    
    .image {
        z-index: -10;

        height: 100%;
        width: 100%; 
        
    }
}   
}