.main {
    .image {
        z-index: -10;
        position: fixed;
        height: 100%;
        width: 100%;
        overflow-x: hidden; 
        
    }
    .section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .optiontoticket {
        
        display: flex;
    }
    .paymentoption {
        margin: 2rem;
        display: flex;
    }
}


$color-primary: #e21cc4;	

.container{
    p{
        color: $color-primary;
    }
    .gg{
        color: red;
    }
    
}

@media only screen and (max-width: 680px) {
    
    .main{

        p {
            font-size: 0.8rem;
        }
    .paymentoption {
        margin: 2rem 0.5rem;

        

    }
    
    .image {
        z-index: -10;

        height: 100%;
        width: 100%; 
        
    }
}   
}